@charset "utf-8";
.follow_bar {
    text-align: right;
    margin-right: 2%;
    padding: 2px 0;
}

.icon_follow {

}

.follow_num {
    font-size: 12px;
    color: #999;
}

.follow .follow_logo {
    display: inline-block;
    /*text-align: right;*/
    background: url(../images/follow.png) center 0px no-repeat;
    background-size: auto 100%;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -o-background-size: auto 100%;
    width: 15px;
    height: 16px;
}

.follow_on .follow_logo {
    display: inline-block;
    /*text-align: right;*/
    background: url(../images/follow_on.png) center 0px no-repeat;
    background-size: auto 100%;
    -moz-background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -o-background-size: auto 100%;
    width: 15px;
    height: 16px;
}