@charset "utf-8";
.guide-bg {
    filter: alpha(opacity=65);
    -moz-opacity: .65;
    -khtml-opacity: .65;
    opacity: .65;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    right: 0;
    /*这里的guide是第二高级的z-index*/
    z-index: 99999999;
    text-align: center;
}

.guide-go-survey {
    /*position: absolute;*/
    font-size: 20px;
    font-weight: bolder;
    font-family: "Songti TC";
    color: white;
    margin: 42% 0 20px 0;
    border: #efefef 2px;
}

.guide-go-flow {
    margin: 28% 0 20px 0;
}

.guide-btn-box {
    text-align: center;
}

.guide-arrow {
    margin-left: 50%;
}

.guide-flow-help {
    margin-left: 20%;
}

.guide-flow-video {
    margin-left: 30%;
}

.guide-p, .guide-flow {
    top: 60%;
    padding: 15px 20px;
    margin: 0 10px;
    color: white;
    font-size: 16px;
    font-family: "Songti TC";
    font-weight: bold;
    text-align: right;
    border: solid 2px #eee;
    border-radius: 20px;
}

.guide-flow {
    top: 50%;
    padding: 38px 20px;
}

.guide-p a, .guide-flow a{
    color: white;
}

.btn-box {
    margin: 0 10%;
}

.btn-div {
    margin-bottom: 10px;
}

a.btn-a {
    color: #eee;
    text-align: center;
    font-size: 12px;
    width: 30%;
    height: 15px;
    display: block;
    border-radius: 51px;
    padding: 9px 0;
    margin: 0 auto;
    /*font-weight: 500;*/
    border: solid 1px #eee;
}

a.btn-flowchart{
    width: 50%;
}

a.btn-yes {
    color: white;
    background: #f90005;
    border: solid 1px #f90005;
}

a.btn-video, a.btn-help {
    width: 100%;
    padding: 9px 5px;
}

.btn-a a {
    color: #eee;
}

.guide-no-need {
    position: fixed;
    font-size: 14px;
    font-weight: bolder;
    font-family: "Songti TC";
    color: white;
    border: solid 1px #efefef;
    border-radius: 30px;
    bottom: 5%;
    right: 5%;
    padding: 0 5%;
}

.flowchart_bg {
    width: 100%;
}