@charset "utf-8";
.leader-nav {
    background: #fff;
    display: inline-block;
    width: 100%;
    line-height: 25px;
}

.leader-nav ul {
    width: 100%;
    background: #fff;
    /*padding: 5px 0px;*/
    border-radius: 8px;
}

.leader-nav ul li {
    width: 50%;
    text-align: center;
    float: left;
}

.leader-tab .nav-date {
    font-size: 10px;
}

.leader-nav a {
    color: #777;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    padding: 10px;
    display: block;
}

.leader-nav a.leader-tab {

}

.leader-nav li a:hover {
    background-color: #f3f3f3;
    color: #333
}

a.leader-tab-on {
    background-color: #f3f3f3;
    color: #333
}

.lead-part {
    background: #fff;
    padding: 20px 13px 100px;
    border-radius: 7px;
    margin: 10px;
    border: solid 1px #f5f5f5;
}

.lead-info {
    padding-top: 25px;
}

.lead-info-opt li {
    color: #999;
    float: left;
    text-align: center;
}

.lead-info-opt li.lead-h-rank {
    width: 20%;
}

.lead-info-opt li.lead-h-avatar {
    width: 20%;
    text-align: left;
    padding-left: 3%;
}

.lead-info-opt li.lead-h-name {
    width: 50%
}

.lead-info-opt li.lead-h-money {
    width: 20%
}

.lead-rows {
    text-align: center
}

.lead-rows ul {
    padding-top: 20px
}

.lead-rows li {
    float: left;
}

.lead-sort {
    font-weight: 700;
    color: #999;
    width: 20%;
    padding-top: 9px;
    line-height: 20px;
    padding-right: 1%;
}

.lead-avatar {
    width: 20%;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.lead-avatar img {
    max-width: 30px;
}

.lead-nickname {
    text-align: left;
    width: 25%;
    padding: 16px 2% 0 2%;
}

.lead-money {
    width: 20%;
    padding-top: 16px;
    font-size: 16px;
}

.lead-sort .sort1, .lead-sort .sort2, .lead-sort .sort3 {
    width: 50%;
    padding-top: 50%;
}

.lead-mine {
    font-size: 17px;
    border: solid 1px #f5f5f5;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 1px #f5f5f5;
    padding: 10px 0 10px 0;
    text-align: center;
}

.lead-mine-box {
    display: block;
}

.lead-my-img {
    width: 15%;
    overflow: hidden;
    padding-left: 2%;
}

.lead-my-img img {
    max-width: 55px;
}

.lead-my-nick {
    font-size: 15px;
    line-height: 43px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25%;
    padding: 0 2%;
}

.lead-my-top {
    padding-top: 8px;
    color: #FB575E;
    font-size: 15px;
    width: 30%;
}

.lead-my-money {
    font-size: 15px;
    padding-top: 13px;
    color: #FB575E;
    width: 20%;
}

.nav-date {
    font-size: 10px;
    display: inline-block;
    color: #999999;
}

.lead-not-login {
    padding: 10px;
    font-size: 14px;
    color: #999999;
}