@charset "utf-8";
.compare_ls {
    padding: 20px 0;
}

.compare_t {
    font-weight: 700;
    font-size: 18px;
    padding: 0 15px 10px 15px;
    color: #FFC51C;
}

.compare_rowt {
    font-size: 16px;
    padding: 8px 0;
}

.compare_rowt li, .compare_i li {
    float: left;
    width: 25%;
    text-align: center;
}

.compare_i {
    color: #999;
    padding: 8px 0;
    font-size: 15px;
}