.hdnav {
    width: 800px;
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1;
}

.hdnav li {
    float: left;
    width: 16%;
    height: 40px;
    line-height: 40px;
    list-style-type: none; /*去黑点*/
}

.hdnav li a {
    padding-bottom: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none; /*去下划线*/
}

.hdnav li a:hover {
    border-bottom: solid 2px #fff;
}