@charset "utf-8";

.study_nav {
    background: #fff;
}

.study_msgi {
    background: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 10px;
}

.study_msgi a {
    line-height: 25px;
    /*padding: 13px 0px;*/
    margin-right: 15px;
    background-size: auto 30%;
}

.study_msgi a:hover {
    color: #f30
}

.survey_rows {
}

.survey_rows ul:after {
    clear: both
}

.survey_rows ul:before, .survey_rows ul:after {
    display: table;
    content: "";
    line-height: 0
}

.survey_rows ul {
    margin: 0 auto;
    *zoom: 1
}

.survey_rows li {
    float: left;
    width: 33%;
    color: #777;
    text-align: center;
    height: 22px;
    line-height: 22px;
    padding-top: 15px;
}

.survey_rows li.red {
    color: #f30;
}

.study_data_t {
    font-size: 15px;
    font-weight: 700;
    color: #333;
    padding: 13px 10px;
}

a.survey_btn {
    background: #FD5E65;
    color: #fff;
    text-align: center;
    font-size: 15px;
    width: 45.9%;
    height: 30px;
    display: block;
    box-shadow: 0px 7px 7px 1px #fee4e6;
    border-radius: 51px;
    line-height: 30px;
    padding: 6px 0;
    margin: 0 0 20px 0;
}

a.survey_btn:hover {
    background: #ff0000
}

.study_info_part {
    background: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 5px;
}

.study_info_part a strong {
    font-size: 16px;
    display: block;
    padding: 10px 0;
    /*line-height: 28px;*/
}

.study_info_part strong {
    font-size: 16px;
    display: block;
    padding: 10px 0;
    line-height: 28px;
    text-align: center;
}

.study_nav {
    background: #fff;
}

.study_nav a {
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 10px 0;
    width: 30%;
    text-align: center;
    color: #999;
}

.study_nav a.study_curr {
    font-weight: 700;
    color: #222;
}

.study_nav span {
    height: 25px;
    color: #eee;
    text-align: center;
    line-height: 25px;
    display: block;
    width: 5%;
    /*padding: 10px 5%;*/
    padding: 10px 0;
}

.survey_data_opt li {
    float: left;
    width: 33%;
    text-align: center;
}

.gift_history_ls {
    padding: 20px 0;
}

.gift_hty_t {
    font-weight: 700;
    font-size: 18px;
    padding: 0 15px 10px 15px;
}

.gift_hty_rowt {
    font-size: 16px;
    padding: 8px 0;
}

.gift_hty_rowt li, .gift_hty_i li {
    float: left;
    width: 50%;
    text-align: center
}

.gift_hty_i {
    color: #999;
    padding: 8px 0;
    font-size: 15px;
}

.grade_hty_rowt {
    font-size: 14px;
    padding: 8px 0;
}

.grade_hty_i {
    color: #999;
    padding: 8px 0;
    font-size: 12px;
}

.grade_hty_rowt li, .grade_hty_i li {
    float: left;
    width: 33%;
    text-align: center
}

.study_des {
    padding: 0px 5px;
    font-size: 14px;
    color: #999;
    line-height: 24px;
}

.study_des b {
    font-size: 14px;
    color: #f30;
    line-height: 24px;
}

a .show-survey {
    line-height: 25px;
    padding: 13px 3px;
    background-size: auto 30%;
}

a .show-survey :hover {
    color: #f30
}

.survey_true_answer {
    color: #f30;
}

.study_info_group {
    background: #fff;
    border-radius: 7px;
    margin: 10px;
    padding: 10px 0px;
}

.study_info_group .sub-title {
    font-size: 20px;
    display: block;
    color: #FFC51C;
    text-align: center;
    font-weight: bolder;
    padding: 10px 0 0 0;
}

.back2top {
    display: block;
    color: #F9474F;
    text-align: center;
}

.back2top img {
    height: 16px;
}

.back2top a{
    color: #F9474F;
}

.study_ls {
    top: 0;
    position: fixed;
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
    background: #f8fafc;
    z-index: 10000;
}

.spanheight_short {
    height: 40px
}

.study_ls ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.study_ls ul li {
    width: 24%;
    text-align: center;
    float: left;
    background: #fff;
    border-radius: 8px;
}

.study_ls a {
    color: #555;
    height: 43px;
    font-size: 15px;
    text-align: center;
    /*padding-left: 37px;*/
    line-height: 36px;
    overflow: hidden;
    /*display: flex;*/
    align-items: center;
}

.study_ls a:hover{
    color: #F9474F;
}

.study_part {
    background: #fff;
    padding: 20px 3px;
    border-radius: 7px;
    margin: 10px;
}